{% extends "base.html" %}
{% block title %}Adding Words{% endblock %}
{% block body %}
<div class="jumbotron">
    <h1>Filtered Response</h1>
    <div class= "row">
        <div class = "col-md-6">
          <p class="lead">Here are the results of the speech analysis:</p>
          {% if result|length %}
          <p>{{ result.to_html() | safe}}</p>
          {% endif %}
          <form action = "" method "GET">
              <button><a href="/download">Download Speech Analysis</a></button>
          </form>
        </div>
        <div class = "col-md-6">
          <form method="POST" action="/addwords">
           Search Word: <input type="text" name="searchword" required><br>
           <input type="submit" value="Submit">
          </form>
          {% if search %}
          <h1>Detecting words: {{ search }} </h1>
          {% endif %}
    </div>
</div>
{% endblock %}

