{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>PodBall Audio</h1>
  <p class="lead">A productivity app for podcasters - make your editing more efficient by targeting key problems</p>
</div>
<div class = "row">
  <div class = "col-md-6">
    <h4>Files</h4>
      <ul>
        <li>File 1 - size/length</li>
        <li>File 2 - size/length</li>
      </ul>
  </div>
  <div class = "col-md-6">
    <h4>Options</h4>
      <button>Speech Analysis</button>
      <button>Non-Speech Analysis</button>
  </div>
</div>
{% endblock %}