<!-- {% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="wallpaper">
      <div class="action-window">
         <h4 class="ball-numbers"><span class="ball-here"><img src="../static/png/tennis-ball-orange-purple-1x.png"><span class="ball-text" id="ball-3">1</span></span><span>2</span><span>3</span><span>4</span></h4>
         <h5>Add any specific words or phrases to detect</h5>
         <div id="file-box">
            <form method="POST" action="/results">
           Search Word: <input type="text" name="searchword" required><br>
           <input type="submit" value="Submit">
          </form>
         </div>
         <a class="next" href="/results"><span class="next-text">NEXT</span> <img src="../static/png/arrow-right-circle.png"></a>
      </div>
   </div>

{% endblock %} -->